* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.form-login {
  width: 300px;
  height: 250px;
  background-color: rgb(249, 163, 66);
  margin: auto;
  margin-top: 120px;
  box-shadow: 7px 13px 37px rgb(58, 53, 53);
  padding: 20px 30px;
}

.form-login h3 {
  margin: 0%;
  text-align: center;
  height: 40px;
}

.controls {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 9px;
  font-size: 15px;
}

.buttons {
  width: 40%;
  font-size: 16px;
  margin-bottom: 25px;
  margin-left: 30%;
}
